[Unit]
Description=Serviço de Monitoramento para o Display do Mancer Mystic G1 Cooler
After=multi-user.target

[Service]
Type=simple
# Esta linha foi removida para que o serviço seja executado como root
# User=joao
# Mover binário para /usr/local/bin/
ExecStart=/usr/local/bin/mancer-cooler-monitor
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target